header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    background-color: rgba(255 255 255 / 0%);
    transition: background-color 0.25s ease;
    top: 0;
    z-index: 1;
    left: 0;
    right: 0;
  }

  .header__scrolled {
    background-color: rgba(255 255 255 / 100%);
    box-shadow: 0 12px 34px -11px rgb(65 62 101 / 10%);
  }


@keyframes rotation {
  0% {
  transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

/* Планшеты */
@media (max-width: 1024px) {
  .about {
      padding: 115px 20px;
  }

  .about h1 {
      font-size: 36px;
      line-height: 40px;
  }

  .about__image {
      width: 280px;
  }

  .about__sun-image {
      width: 75px;
      height: 75px;
  }
}

.features__feedback-left {
  margin-right: 10px;
  }


/* Мобильные устройства */
@media (max-width: 720px) {
  header {
      padding: 10px;
  }

  .header__logo {
      height: 20px;
  }

  header a {
      margin-right: 10px;
  }

  .about {
      flex-direction: column-reverse;
      padding: 50px 10px;
  }

  .features__feedback-left {
    margin-right: 0px;
    }

  .about h1 {
      font-size: 36px;
      line-height: 40px;
  }

  .about__image {
      width: 280px;
  }

  .about__sun-image {
      width: 75px;
      height: 75px;
  }

  .form {
      padding: 50px 10px;
  }

  .form h1 {
      font-size: 36px;
  }

  footer {
      padding: 50px 10px;
  }

  .footer__container {
      flex-direction: column;
  }
}

a {
    text-decoration: none;
    color: #213053;
  }
header a {
    font-size: 15px;
    font-weight: 600;
    margin-right: 25px;
 
}

h3 {
  font-size: 16px;
  opacity: 0.7;
  padding-bottom: 30px;

}


button {
    font-family: 'Raleway', sans—serif;
    font-size: 15px;
    color: #fff;
    background-color: #23a030;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
    padding: 15px;
  }
button:hover {
  background-color: #f6980c;
  transition: background-color 3s ease;
  box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
 }



body {
    font-family: 'Raleway', sans-serif;
    color: #213053;
    margin: 0;
  }
.header__logo {
    height: 30px;
  }
  a {
  text-decoration: none;
  color: #213053;
}

select {
  appearance: none;
}

input {
  outline: none;
}

.about__image {
    width: 500px;
  }
   
  .about__sun-image {
    width: 100px;
    height: 100px;
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
      }

.about {    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 115px;
    /* ... */
    position: relative;
    background: url('img/back.png') no-repeat;
    background-position: center;
    background-size: cover;
  }

.about h1 {
    font-size: 70px;
    line-height: 76px;
}

.about p {
    font-size: 18px;
    line-height: 30px;
    opacity: 0.8;
}

.about button {
    font-size: 18px;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 20px;
}

.about__info {
    max-width: 550px;
  }

.form__container {
  width: 550px;
}



.features {
  padding-top: 115px;
  padding-bottom: 115px;
  padding-right: 60px;
  padding-left: 60px;
  
}

.cards {
display: flex;
grid-gap: 50px;
/* flex-direction: row;*/
/*  grid-template-columns: auto; */

}

.card {
  padding-top: 35px;
  padding-bottom: 25px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #D9E4E6;
}


.card p {
  font-size: 16px;
  line-height: 22px;
  opacity: 0.8;
}
.card h3 {
  opacity: 1;
}

.features__border {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid;
  border-color: #E6EAF4;
}

.features__feedback {
  display: flex;
  justify-content: space-evenly;
}


.card__logo {
      width: 100px;
      height: 100px;
      font-size: 32px;
      font-weight: 700;
      background-color: #eaeff9;
      border-radius: 50%;
      display: flex; /* добавили на уроке про центрирование квадрата*/
      justify-content: center; /* добавили на уроке про центрирование квадрата*/
      align-items: center; /* добавили на уроке про центрирование квадрата*/
    }










.form {
  background-color: #1D263A;
  color: #fff;
  padding-top: 115px;
  padding-bottom: 115px;
  text-align: center;
  display: flex; /* добавили на уроке про центрирование квадрата*/
  justify-content: center; /* добавили на уроке про центрирование квадрата*/
  align-items: center; /* добавили на уроке про центрирование квадрата*/
}

.form form {display: grid;
  margin-top: 60px;
}

.form h1 {
  font-weight: 48px;

}

.form p {
  font-weight: 18px;
  opacity: 0.65;
}

.form__group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;  
}

.form input {
  font-size: 18px;
  color: #213053;
  height: 60px;
  padding: 0px 20px 0px 20px;
  border-radius: 15px;
  border: none;
  margin-bottom: 20px;
}

.form select {
  font-size: 18px;
  color: #213053;
  height: 60px;
  padding: 0px 20px 0px 20px;
  border-radius: 15px;
  border: none;
  margin-bottom: 40px; 
}

.form__submit {
  font-size:18px;
  font-weight: 600;
  margin-bottom: 40px;
}

footer {
  padding: 90px 20px 90px 20px;
  font-size:16px;
  font-weight: 600;
}


.footer__copyright {
  padding-top: 40px;
  text-align: center;
  opacity: 0.5;
}

.footer__container {
display: flex;
justify-content: center;
}

.footer__group {
  margin-right: 80px;

}

.footer__links {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.orb-canvas {
position: absolute;
top: 0;
right: 0;
height: 100%;
}

.features__feedback-right {
  display: flex;
  justify-content: center;
}